<% @banner_counter = 0 %>
<% @banner.each do |a| %>
  <% if @banner_counter == 0 %>
    <ul class="banner-orbit" data-orbit>
  <% end %>
  <li>
    <%= image_tag a.image.orbit_banner.url %>
    <div class="orbit-caption">
      <%= a.name %>
    </div>
  </li>
  <% @banner_counter = @banner_counter + 1 %>
<% end %>
<% if @banner_counter > 0 %>
  </ul>
<% end %>