<% @banner_counter = 0 %>
<% @banner.each do |a| %>
  <% if @banner_counter == 0 %>
    <div class="owl-carousel-promotion-banner">
  <% end %>
  <div>
    <%= image_tag a.image.orbit_banner.url, :width => "1024" %> <br />
    <%= a.name %>
  </div>
  <% @banner_counter = @banner_counter + 1 %>
<% end %>
<% if @banner_counter > 0 %>
  </div>
<% end %>
