    <% if !@shopitems.empty? %>
      <ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6">
      <% @shopitems.each_with_index do |c, i| %>
        <% next if i < @tmp_count_from %>
        <% break if i > @tmp_count_to %>
        <!-- Start of new row per 6 -->
        <li>
          <%= link_to :controller => :shopitems, :action => :show, :id => c.id do %>
          <!-- Icon and link to sub-page - Start -->
            <% if c.image.preview_128.file.exists? %>
              <%= image_tag c.image.preview_128.url, :size => "128x128" %>
            <% else %>
              <% if c.image? %>
                <%= image_tag c.image.url, :size => "128x128" %>
              <% else %>
                <%= image_tag 'noimage.gif' %>
              <% end %>
            <% end %>
          <!-- Icon and link to sub-page - End -->
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
